div(class="row")
  div(class="col-md-4")
    img(
      src="/images/profile_picture_360_360_1x.png"
      srcset="/images/profile_picture_360_360_3x.png 1080w, /images/profile_picture_360_360_2x.png 720w, /images/profile_picture_360_360_1x.png 360w"
      sizes="(min-width: 1200px) 350px, (min-width: 992px) 290px, (min-width: 768px) 210px, calc(100vw - 30px)"
      class="img-fluid"
      alt="profile picture"
    )
  div(class="col-md-8")
    h2 Introduction
    p
      | 陈广琛（网名 Cat Chen），前端工程师，现就职于 Facebook。
    h2 Contacts
    div(class="row mb-3")
      div(class="col-lg-3 col-sm-4 col-5") 电话
      div(class="col-lg-9 col-sm-8 col-7 font-weight-bold")
        a(href="tel:+1-(646)-833-8693") +1-(646)-833-8693
      div(class="col-lg-3 col-sm-4 col-5") 电话（仅短信）
      div(class="col-lg-9 col-sm-8 col-7 font-weight-bold")
        a(href="tel:+86-13824432994") +86-13824432994
      div(class="col-lg-3 col-sm-4 col-5") 电子邮箱
      div(class="col-lg-9 col-sm-8 col-7 font-weight-bold")
        a(href="mailto:catchen@catchen.me") catchen@catchen.me
    h2 Links
    div(class="row mb-3")
      div(class="col-lg-3 col-sm-4 col-5") GitHub
      div(class="col-lg-9 col-sm-8 col-7 font-weight-bold")
        a(href="https://github.com/catchen") catchen
      div(class="col-lg-3 col-sm-4 col-5") Twitter
      div(class="col-lg-9 col-sm-8 col-7 font-weight-bold")
        a(href="https://twitter.com/catchen") @catchen
