doctype
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover")
    meta(property="og:type" content="profile")
    meta(property="og:title" content="Cat Chen")
    meta(property="og:description" content="Cat Chen's personal website. You can find Cat's resume, projects and contents here.")
    meta(property="og:url" content="https://catchen.me/")
    meta(property="og:image" content="https://catchen.me/images/profile_picture_360_360_1x.png")
    meta(property="fb:profile_id" content="504867629")
    meta(property="fb:pages" content="319695031499949")
    title
      | Cat Chen | 陈广琛
    link(
      rel="stylesheet"
      href="/css/bootstrap-with-override.css"
      crossorigin="anonymous"
    )
    link(rel="icon" href="/favicon.ico")
    link(rel="prerender" href="/")
  body
    nav(class="navbar navbar-expand-md bg-body-tertiary")
      div(class="container")
        button(class="navbar-toggler" type="button" disabled)
          span(class="navbar-toggler-icon")
        div(class="navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav me-auto")
            for page in public._data.pages
              li(class="nav-item")
                a(
                  href="/#{page.replace(/^index$/, '')}"
                  class="nav-link"
                ) #{public._data[page].title}
          ul(class="navbar-nav d-none d-md-flex")
            for data, locale in public._data.locales
              li(class="nav-item")
                a(
                  href="/#{locale}/#{current.source.replace(/^index$/, '')}"
                  class="nav-link disabled"
                ) #{public._data.locales[locale][locale].title}

    div(class="container mt-3")
      for data, locale in public._data.locales
        h2
          | #{public._data.locales[locale][404]}
