include _helpers/deepCopy.jade

- var currentLocale = current.path[0];
- var localeData = public._data.locales[currentLocale];
- var basePageData = public._data[current.source] || {};
- var localizedPageData = public[currentLocale]._data[current.source] || {};
- var pageData = {};
- deepCopy(pageData, basePageData);
- deepCopy(pageData, localizedPageData);
- var pagePath = current.source.replace(/^index$/, '');
- var shortUrl = 'https://catchen.me/' + pagePath;

doctype
html(lang="#{currentLocale}")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover")
    meta(property="og:type" content="profile")
    meta(property="og:title" content="#{localeData.name + localeData.possessiveCase + pageData.title}")
    meta(property="og:description" content="Cat Chen's personal website. You can find Cat's resume, projects and contents here.")
    meta(property="og:url" content="#{shortUrl}")
    meta(property="og:image" content="https://catchen.me/images/profile_picture_360_360_1x.jpg")
    meta(property="fb:profile_id" content="504867629")
    meta(property="fb:pages" content="319695031499949")
    title #{pageData.title + ' - ' + localeData.name}
    link(
      rel="stylesheet"
      href="/css/bootstrap-with-override.css"
      crossorigin="anonymous"
    )
    link(rel="icon" href="/favicon.ico")
    link(rel="canonical" href="#{'https://catchen.me/' + currentLocale + '/' + pagePath}")
    link(rel="alternate" hreflang="x-default" href="https://catchen.me/#{pagePath}")
    for data, locale in public._data.locales
      link(rel="alternate" hreflang="#{locale}" href="https://catchen.me/#{locale}/#{pagePath}")
    if ('prerender' in public._data[current.source])
      link(rel="prerender" href="/#{currentLocale}/#{public._data[current.source].prerender}")
    if current.source === 'index'
      != partial('_helpers/structuredData')

  body
    nav(class="navbar navbar-expand-md bg-body-tertiary d-print-none")
      div(class="container")
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav me-auto")
            for page in public._data.pages
              - navBasePageData = public._data[page] || {};
              - navLocalizedPageData = public[currentLocale]._data[page] || {};
              - var navPageData = {};
              - deepCopy(navPageData, navBasePageData);
              - deepCopy(navPageData, navLocalizedPageData);
              li(class="nav-item")
                a(
                  href="/#{currentLocale}/#{page.replace(/^index$/, '')}"
                  class="nav-link #{current.source === page ? 'active' : ''}"
                ) #{navPageData.title}
          ul(class="navbar-nav")
            for data, locale in public._data.locales
              li(class="nav-item #{currentLocale === locale ? 'd-none d-md-block' : ''}")
                a(
                  href="/#{locale}/#{pagePath}"
                  class="nav-link #{currentLocale === locale ? 'active' : ''}"
                ) #{public._data.locales[locale][locale].title}

    div(
      id="#{current.source}"
      class="container mt-3"
    )
      != yield

    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', 'UA-347601-6', {
      |   custom_map: {
      |     'dimension1': 'language',
      |     'dimension2': 'device_pixel_ratio',
      |     'dimension3': 'page',
      |   },
      |   language: '#{currentLocale}',
      |   device_pixel_ratio: window.devicePixelRatio,
      |   page: '#{current.source}',
      | });
      | if (typeof PerformanceObserver === 'function') {
      |   var observer = new PerformanceObserver(function(list) {
      |     var entries = list.getEntries();
      |     for (var i = 0; i < entries.length; i++) {
      |       gtag('event', 'timing_complete', {
      |         name: entries[i].name,
      |         value: entries[i].startTime,
      |         event_category: entries[i].entryType,
      |       });
      |     }
      |   });
      |   observer.observe({entryTypes: ["paint"]});
      | }
      | window.onerror = window.onunhandledrejection = function(error) {
      |   var message;
      |   if (error instanceof Error) {
      |     message = error.message;
      |   } else {
      |     message = String(error);
      |   }
      |   gtag('event', 'exception', {
      |     'description': message,
      |     'fatal': false,
      |   });
      | }

    script(
      src="/js/bootstrap.min.js"
      crossorigin="anonymous"
    )

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-347601-6")

    script
      | !function(f,b,e,v,n,t,s)
      | {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      | n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      | if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      | n.queue=[];t=b.createElement(e);t.async=!0;
      | t.src=v;s=b.getElementsByTagName(e)[0];
      | s.parentNode.insertBefore(t,s)}(window, document,'script',
      | 'https://connect.facebook.net/en_US/fbevents.js');
      | fbq('init', '441573105970839');
      | fbq('track', 'PageView');
      | fbq('track', 'ViewContent', {
      |   content_ids: '#{shortUrl}',
      |   content_name: '#{current.source}'
      | });
    noscript
      img(height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=441573105970839&ev=PageView&noscript=1")
