doctype
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    title #{title}
    link(rel="stylesheet" href="/main.css")
  body
    nav
      ul
        for data, page in public._data
          li
            a(
              href="#{page}.html"
              class="#{current.source === page ? 'active' : ''}"
            ) #{data[current.path[0]].title}
    != yield
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-347601-6")
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', 'UA-347601-6');
