doctype
html(lang="#{current.path[0]}")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no")
    meta(property="og:type" content="profile")
    meta(property="og:title" content="Cat Chen")
    meta(property="og:description" content="Cat Chen's personal website. You can find Cat's resume, projects and posts here.")
    meta(property="og:url" content="#{'https://catchen.me/' + current.source.replace(/^index$/, '')}")
    meta(property="og:image" content="https://catchen.me/images/profile_picture_360_360_1x.jpg")
    meta(property="fb:profile_id" content="504867629")
    meta(property="fb:pages" content="319695031499949")
    title #{(public[current.path[0]]._data[current.source] && public[current.path[0]]._data[current.source].title || public._data[current.source].title) + ' - ' + public._data.locales[current.path[0]].name}
    link(
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet"
      href="/css/override.css"
      crossorigin="anonymous"
    )
    link(rel="icon" href="/favicon.ico")
    link(rel="canonical" href="#{'https://catchen.me/' + current.path[0] + '/' + current.source.replace(/^index$/, '')}")
    link(rel="alternate" hreflang="x-default" href="https://catchen.me/#{current.source.replace(/^index$/, '')}")
    for data, locale in public._data.locales
      link(rel="alternate" hreflang="#{locale}" href="https://catchen.me/#{locale}/#{current.source.replace(/^index$/, '')}")
    if ('prerender' in public._data[current.source])
      link(rel="prerender" href="/#{current.path[0]}/#{public._data[current.source].prerender}")

  body
    nav(class="navbar navbar-expand-md navbar-light bg-light")
      div(class="container")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav mr-auto")
            for page in public._data.pages
              li(class="nav-item #{current.source === page ? 'active' : ''}")
                a(
                  href="/#{current.path[0]}/#{page.replace(/^index$/, '')}"
                  class="nav-link"
                ) #{public[current.path[0]]._data[page] && public[current.path[0]]._data[page].title || public._data[page].title}
          ul(class="navbar-nav")
            for data, locale in public._data.locales
              li(class="nav-item #{current.path[0] === locale ? 'active d-none d-md-block' : ''}")
                a(
                  href="/#{locale}/#{current.source.replace(/^index$/, '')}"
                  class="nav-link"
                ) #{public._data.locales[locale][locale].title}

    div(class="container mt-3")
      != yield

    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', 'UA-347601-6', {
      |   custom_map: {
      |     'dimension1': 'language',
      |     'dimension2': 'device_pixel_ratio',
      |     'dimension3': 'page',
      |   },
      |   language: '#{current.path[0]}',
      |   device_pixel_ratio: window.devicePixelRatio,
      |   page: '#{current.source}',
      | });
      | if (typeof PerformanceObserver === 'function') {
      |   var observer = new PerformanceObserver(function(list) {
      |     var entries = list.getEntries();
      |     for (var i = 0; i < entries.length; i++) {
      |       gtag('event', 'timing_complete', {
      |         name: entries[i].name,
      |         value: entries[i].startTime,
      |         event_category: entries[i].entryType,
      |       });
      |     }
      |   });
      |   observer.observe({entryTypes: ["paint"]});
      | }
      | window.onerror = window.onunhandledrejection = function(error) {
      |   var message;
      |   if (error instanceof Error) {
      |     message = error.message;
      |   } else {
      |     message = String(error);
      |   }
      |   gtag('event', 'exception', {
      |     'description': message,
      |     'fatal': false,
      |   });
      | }

    script(
      src="/js/jquery-3.3.1.slim.min.js"
      crossorigin="anonymous"
    )
    script(
      src="/js/bootstrap.min.js"
      crossorigin="anonymous"
    )

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-347601-6")

    script
      | !function(f,b,e,v,n,t,s)
      | {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      | n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      | if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      | n.queue=[];t=b.createElement(e);t.async=!0;
      | t.src=v;s=b.getElementsByTagName(e)[0];
      | s.parentNode.insertBefore(t,s)}(window, document,'script',
      | 'https://connect.facebook.net/en_US/fbevents.js');
      | fbq('init', '441573105970839');
      | fbq('track', 'PageView');
      | fbq('track', 'ViewContent', {
      |   content_ids: '#{'https://catchen.me/' + current.source.replace(/^index$/, '')}',
      |   content_name: '#{current.source}'
      | });
    noscript
      img(height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=441573105970839&ev=PageView&noscript=1")
