doctype
html
  head
    script
      | var languages;
      | if (Object.prototype.toString.call(navigator.languages) === '[object Array]') {
      |   languages = navigator.languages;
      | } else if (typeof navigator.language === 'string') {
      |   languages = [navigator.language];
      | }
      | var pathname = '/en/';
      | for (var i = 0; i < languages.length; i++) {
      |   var matches = languages[i].match(/^(zh|en)/);
      |   if (matches) {
      |     pathname = '/' + matches[1] + '/';
      |     break;
      |   }
      | }
      | window.location.pathname = pathname;
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
    meta(property="og:type" content="profile")
    meta(property="og:title" content="Cat Chen")
    meta(property="og:description" content="Cat Chen's personal website. You can find Cat's resume, projects and posts here.")
    meta(property="og:url" content="https://catchen.me/")
    meta(property="og:image" content="https://catchen.me/images/profile_picture_360_360_1x.png")
    meta(property="fb:profile_id" content="504867629")
    meta(property="fb:pages" content="319695031499949")
    title
      | Guangchen Chen | Cat Chen | 陈广琛
  body
    noscript
      ul
        for data, locale in public._data.locales
          li
            a(
              href="/#{locale}/"
            ) #{public._data.locales[locale][locale].title}
