div(class="row")
  div(class="col-md-4 mb-4")
    picture
      source(
        media="(max-width: 767.98px)"
        type="image/avif"
        srcset="/images/profile_picture_landscape_1080.avif 1080w, /images/profile_picture_landscape_800.avif 800w, /images/profile_picture_landscape_400.avif 400w"
        sizes="calc(100vw - 30px)"
        width="400"
        height="267"
      )
      source(
        media="(max-width: 767.98px)"
        type="image/jpeg"
        srcset="/images/profile_picture_landscape_1080.jpg 1080w, /images/profile_picture_landscape_800.jpg 800w, /images/profile_picture_landscape_400.jpg 400w"
        sizes="calc(100vw - 30px)"
        width="400"
        height="267"
      )
      source(
        type="image/avif"
        srcset="/images/profile_picture_square_1080.avif 1080w, /images/profile_picture_square_720.avif 720w, /images/profile_picture_square_360.avif 360w"
        sizes="(min-width: 1200px) 350px, (min-width: 992px) 290px, (min-width: 768px) 210px, calc(100vw - 30px)"
        width="360"
        height="360"
      )
      img(
        src="/images/profile_picture_square_360.jpg"
        srcset="/images/profile_picture_square_1080.jpg 1080w, /images/profile_picture_square_720.jpg 720w, /images/profile_picture_square_360.jpg 360w"
        sizes="(min-width: 1200px) 350px, (min-width: 992px) 290px, (min-width: 768px) 210px, calc(100vw - 30px)"
        width="360"
        height="360"
        fetchpriority="high"
        class="img-fluid"
        alt="Cat Chen"
      )
  div(class="col-md-8")
    h1 #{heading}
    p
      | #{introduction.text}
    h2 #{contacts.title}
    div(class="row mb-3")
      div(class="col-lg-3 col-sm-4 col-5") #{contacts.mobile}
      div(class="col-lg-9 col-sm-8 col-7 fw-bold")
        a(href="tel:+1-(646)-833-8693") +1-(646)-833-8693
      div(class="col-lg-3 col-sm-4 col-5") #{contacts.mobileTextOnly}
      div(class="col-lg-9 col-sm-8 col-7 fw-bold")
        a(href="tel:+86-13824432994") +86-13824432994
      div(class="col-lg-3 col-sm-4 col-5") #{contacts.email}
      div(class="col-lg-9 col-sm-8 col-7 fw-bold")
        a(href="mailto:catchen@catchen.me") catchen@catchen.me
    h2 #{links.title}
    div(class="row mb-3")
      for link in links.items
        div(class="col-lg-3 col-sm-4 col-5") #{link.name}
        div(class="col-lg-9 col-sm-8 col-7 fw-bold")
          a(href="#{link.url}") #{link.text}
