h2
  | #{blogs.title}
ul
  for link in blogs.links
    li
      a(href="#{link.url}")
        | #{link.name}

if (typeof highlights !== 'undefined' && highlights !== null)
  h2
    | #{highlights.title}
  ul
    for link in highlights.links
      li
        if ('url' in link)
          a(href="#{link.url}")
            | #{link.name}
        else if ('urls' in link)
          | #{link.name} [
          for url, index in link.urls
            | #{index > 0 ? ' ' : ''}
            a(href="#{url}")
              | #{index}
          | ]
