for link in links
  div(class="my-4")
    div(class="d-md-flex flex-row align-items-end")
      a(href="#{link.urls.web || link.urls.source}" class="flex-grow-1")
        h2
          | #{link.name}
      if (Object.keys(link.urls).length > 1)
        div(class="text-muted mb-2")
          | (
          a(href="#{link.urls.source}")
            | #{sourceCode}
          | )
    if ('image' in link)
      img(
        src="#{link.image.url}"
        srcset="#{link.image.url.replace(/_1x\.(png|jpg)$/, '_3x.$1')} 960w, #{link.image.url.replace(/_1x\.(png|jpg)$/, '_2x.$1')} 640w, #{link.image.url} 320w"
        sizes="(min-width: 768px) 320px, calc(100vw - 30px)"
        class="rounded my-2"
        alt="#{link.image.alt}"
      )
    p
      | #{link.description}
