mixin dateToLocalString(date)
  if (!date)
    | #{present}
  else
    if (current.path[0] === 'zh')
      if ('month' in date)
        | #{date.year} 年 #{date.month} 月
      else
        | #{date.year} 年
    else if (current.path[0] === 'en')
      if ('month' in date)
        | #{['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][date.month - 1]} #{date.year}
      else
        | #{date.year}
    else
      if ('month' in date)
        | #{date.year}.#{date.month.padStart(2, '0')}
      else
        | #{date.year}

mixin dateRangeToLocalString(dateRange)
  if (dateRange.from)
    mixin dateToLocalString(dateRange.from)
    | #{' - '}
    mixin dateToLocalString(dateRange.to)
  else if (dateRange.years)
    if (current.path[0] === 'zh')
      | #{dateRange.years.join('、')} 年
    else if (current.path[0] === 'en')
      | #{dateRange.years.join(', ')}
    else
      | #{dateRange.years.join(', ')}

h2
  | #{workExperience.title}
div(class="row my-4")
  for experience in workExperience.experiences
    div(class="col-md-4")
      mixin dateRangeToLocalString(experience)
    div(class="col-md-8")
      h3 #{experience.company}
      ul
        for role, index in experience.roles
          li
            if index === 0
              span(class="fw-bold") #{role.title}
            else
              span #{role.title}
            if ('titleExtra' in role)
              | #{comma}#{role.titleExtra}
            if ('projects' in role)
              ul(class="mb-0")
                for project in role.projects
                  li
                    | #{project}

h2
  | #{socialActivities.title}
div(class="row my-4")
  for activity in socialActivities.activities
    div(class="col-md-4")
      mixin dateRangeToLocalString(activity)
    div(class="col-md-8")
      h3 #{activity.title}
      ul
        for text in activity.texts
          li
            | #{text}

h2
  | #{educationBackground.title}
div(class="row my-4 educationBackground")
  for education in educationBackground.educations
    div(class="col-md-4")
      mixin dateRangeToLocalString(education)
    div(class="col-md-8")
      h3 #{education.school}
      span(class="fst-italic ms-2") #{education.city}
      for text in education.texts
        div(class="ms-4")
          | #{text}
