for program in programs
  div(class="my-4")
    h2
      | #{program.name}
    for item in program.description
      if (typeof item === 'string')
        p
          | #{item}
      else if (Array.isArray(item))
        ul
          for subitem in item
            li
              | #{subitem}
    div
      for link, index in program.links
        if (index === 0)
          a(class="btn btn-primary me-1" href="#{link.url}" role="button")
            | #{link.text}
        else
          a(class="btn btn-secondary me-1" href="#{link.url}" role="button")
            | #{link.text}
